body {
  background-color: black;
  margin: 25px 25px 25px 25px;
}

h1, p, a{
  font-family: 'Roboto', sans-serif;
  color: lime;
}

h1 {
 font-size: 1.8em;
}

a {
  color: magenta;
  text-decoration:none;
}

a:hover{
  color: black;
  background-color: lime;
}
